/* --------------- tooltip style -------------------------------*/
.tooltip-inner {
    /*white background, black font
    background-color: #000;
    color: #fff;
    */
    /*black background, white font*/
    background-color: #fff;
    color: #000;
    border-radius: 4px;
    font-size: 10px;
}

.tooltip.in {
    /* transparency */
    filter: alpha(opacity=100);
    opacity: 1.0;
}

/* ----------------- button style ------------------------------*/
/* toogle content directive */
.toogleContentUp div {
    #background-image: url("../icons/minus-5-m.png");
    background-image: url("../icons/arrow-circle-down-gray.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    width: 16px;
    height: 16px;
    background-size: contain;
    margin-right: 10px;
}

.toogleContentUp:hover div {
    #background-image: url("../icons/minus-4-m.png");
    background-image: url("../icons/arrow-circle-down-green.png");
}

.toogleContentDown div {
    #background-image: url("../icons/plus-5-m.png");
    background-image: url("../icons/arrow-circle-left-gray.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    width: 16px;
    height: 16px;
    background-size: contain;
    margin-right: 10px;
}

.toogleContentDown:hover div {
    #background-image: url("../icons/plus-4-m.png");
    background-image: url("../icons/arrow-circle-left-green.png");
}

.separation_line {
    background-image: url("../icons/line_gray.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    width: 85%;
    height: 4px;
    background-size: cover;
}

.toogleContentUp:hover span, .toogleContentDown:hover span {
    color: #94BE08;
}

.extendMainUp {
    background-image: url("../icons/arrow-30-up-light-grey.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    width: 25px;
    height: 15px;
    background-size: 25px 15px;
    position: absolute;
    left: 60%;
}

.extendMainUp:hover {
    background-image: url("../icons/arrow-30-up-green.png");
}

.extendMainDown {
    background-image: url("../icons/arrow-30-down-light-grey.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    width: 25px;
    height: 15px;
    background-size: 25px 15px;
    position: absolute;
    left: 40%;
}

.extendMainDown:hover {
    background-image: url("../icons/arrow-30-down-green.png");
}

.extendMain {
    background-image: url("../icons/arrow-30-grey.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    width: 20px;
    height: 20px;
    background-size: contain;
}

.extendMain:hover {
    background-image: url("../icons/arrow-30-green.png");
}

/* substrat form FoTS */
.FoTS {
    color: red;
}

/* help button */
.openHelp {
    background-image: url("../icons/question-mark-8-grey.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    width: 20px;
    height: 20px;
    background-size: contain;
}

.openHelp:hover {
    background-image: url("../icons/question-mark-green.png");
}

.closeHelp {
    background-image: url("../icons/question-mark-8-green.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    width: 20px;
    height: 20px;
    background-size: contain;
}

.closeHelp:hover {
    background-image: url("../icons/question-mark-grey.png");
}

/* open/close forms of elements button */
.openPropWindButton {
    background-image: url("../icons/plus-6-grey.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    width: 10px;
    height: 10px;
    background-size: contain;
}

.openPropWindButton:hover {
    background-image: url("../icons/plus-6-green.png");
}

.closePropWindButton:hover {
    background-image: url("../icons/minus-6-green.png");
}

.closePropWindButton {
    background-image: url("../icons/minus-grey.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    width: 10px;
    height: 10px;
    background-size: contain;
}

.openAllPropWindButton {
    background-image: url("../icons/plus-multi-grey.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    width: 20px;
    height: 20px;
    background-size: contain;
}

.openAllPropWindButton:hover {
    background-image: url("../icons/plus-multi-green.png");
}

.closeAllPropWindButton {
    background-image: url("../icons/minus-multi-grey.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    width: 20px;
    height: 20px;
    background-size: contain;
}

.closeAllPropWindButton:hover {
    background-image: url("../icons/minus-multi-green.png");
}

/* confirm or abort remove button */
.confirmRemoveButton {
    background-image: url("../icons/check-mark-green.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    width: 10px;
    height: 10px;
    background-size: contain;
}

.confirmRemoveButton:hover {
    background-image: url("../icons/check-mark-8-green.png");
}

.abortRemoveButton {
    background-image: url("../icons/x-mark-red.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    width: 10px;
    height: 10px;
    background-size: contain;
}

.abortRemoveButton:hover {
    background-image: url("../icons/x-mark-5-red.png");
}

.diagram {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
}

/* highlight form input */
.formInput:focus, .formInput:hover {
    color: #94BE08;
    border: 1px solid #94BE08;
}

.formInput {
    margin-bottom: 10px;
    font-size: 12px;
    width: 140px;
}

.formInputRadio {
    margin-bottom: 15px;
    margin-top: 5px;
    font-size: 12px;
}

.formInputLarge {
    margin-bottom: 10px;
    font-size: 12px;
    width: 190px;
}

/* slider range style for IE*/
input[type=range]::-ms-track {
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 2px;

    /*remove default tick marks*/
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #ffffff;
    border-radius: 10px;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background: #94BE08;
}

/* ------------------------*/

.flowCorrect {
    background-image: url("../icons/check-mark-8-green.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    width: 20px;
    height: 20px;
    background-size: contain;
    /*float:left;*/
}

.flowError {
    background-image: url("../icons/error-m-red.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    width: 20px;
    height: 20px;
    background-size: contain;
    /*float:left;*/
}

.addButton {
    cursor: pointer
}

/* add new elements button */
.addButton div {
    background-image: url("../icons/plus-2-grey.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    width: 15px;
    height: 15px;
    background-size: contain;
    float: left;
}

.addButton:hover div {
    background-image: url("../icons/plus-6-green.png");
}

.addButton:hover {
    color: #94BE08;
}

/* delete element button */
#main .deleteButton {
    width: 10px;
    height: 10px;
}

.deleteButton {
    /* source icons: http://www.iconsdb.com/custom-color/x-mark-5-icon.html */
    background-image: url("../icons/x-mark-5-grey.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    width: 10px;
    height: 10px;
    background-size: contain;
}

.deleteButton:hover {
    background-image: url("../icons/x-mark-5-green.png");
}

/* close form button */
.deleteButtonForm:hover {
    background-image: url("../icons/x-mark-5-green_big.png");
}

.deleteButtonForm {
    background-image: url("../icons/x-mark-grey.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    width: 15px;
    height: 15px;
    background-size: contain;
}

/* --------------------- csv download----------------------- */
.csvButton {
    background-image: url("../icons/csv-grey.png");
    background-repeat: no-repeat;
    padding-left: 20px;
    height: 18px;
    background-size: contain;
    background-color: #f9f9f9;
}

.csvButton:hover {
    background-image: url("../icons/csv-green.png");
    color: #94BE08;
}

.csvButton:hover span, .csvButton:hover sub {
    color: #94BE08;
}

/* -------------------element style-------------------------------------*/

.iconText {

    font-size: 40px; /* different size has been defined in svg text-tag */
    font-style: normal;
    font-weight: normal;
    line-height: 125%;
    letter-spacing: 0px;
    word-spacing: 0px;
    fill: #000000; /* different color has been defined in svg text-tag */
    fill-opacity: 1;
    stroke: none;
    font-family: Verdana, Arial, sans-serif;
    text-anchor: middle;
}

.iconGroupHoverShadow:hover {
    opacity: 0.5;
    filter: alpha(opacity=50, color=#94BE08);
}

/* position of elements */
.fermenter {
    width: 8.2em;
    height: 5em;
}

.bhkw {
    width: 5.9em;
    height: 2.7em;
}

.rest {
    width: 6.6em;
    height: 3em;
}

.gasspeicher {
    width: 8.1em;
    height: 3em;
}

.substrat {
    width: 6.5em;
    height: 3em;
}

.window {

    line-height: 5em;
    text-align: center;
    z-index: 20;
    position: absolute;
    color: black;
    font-family: helvetica;
    padding: 0em;
    font-size: 0.9em;
}

/*
.active {
	border:1px dotted green;
}
*/
.hover {
    border: 1px dotted red;
}

#subs1 {
    top: 20em;
    left: 15px;
}

#subs2 {
    top: 10em;
    left: 15px;
}

#subs3 {
    top: 15em;
    left: 15px;
}

#ferm1 {
    top: 15em;
    left: 20em;
}

#ferm2 {
    top: 15em;
    left: 40em;
}

#rest1 {
    top: 282px;
    left: 582px;
}

#storage1 {
    top: 15px;
    left: 50em;
}

#bhkw1 {
    top: 105px;
    left: 602px;
}

._jsPlumb_connector {
    z-index: 4;
}

._jsPlumb_endpoint, .endpointTargetLabel, .endpointSourceLabel {
    z-index: 18;
    cursor: pointer;
}

.hl {
    border: 3px solid red;
}

#debug {
    position: absolute;
    background-color: black;
    color: red;
    z-index: 5000
}

._jsPlumb_dragging {
    z-index: 4000;
}

.aLabel {
    background-color: white;
    padding: 0.4em;
    font-size: 12px;
    font-family: Verdana, Arial, sans-serif;
    color: #444;
    z-index: 27;
    border: 1px dotted gray;
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: pointer;
}

.aLabel._jsPlumb_hover {
    background-color: #5C96BC;
    color: white;
    border: 1px solid white;
}

.ng-invalid {
    border: 1px solid red;
}

/* boostrap table directives */
table {
    background-color: transparent;
}

th {
    text-align: left;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

.table > tbody + tbody {
    border-top: 2px solid #dddddd;
}

.table .table {
    background-color: #ffffff;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding: 5px;
}

.table-bordered {
    border: 1px solid #dddddd;
}
tr.bold-th th {
    font-weight: bold;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #f5f5f5;
}

table col[class*="col-"] {
    position: static;
    float: none;
    display: table-column;
}

table td[class*="col-"],
table th[class*="col-"] {
    position: static;
    float: none;
    display: table-cell;
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
    background-color: #f5f5f5;
}

.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
    background-color: #e8e8e8;
}

.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
    background-color: #dff0d8;
}

.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
    background-color: #d0e9c6;
}

.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
    background-color: #d9edf7;
}

.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
    background-color: #c4e3f3;
}

.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
    background-color: #fcf8e3;
}

.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
    background-color: #faf2cc;
}

.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
    background-color: #f2dede;
}

.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
    background-color: #ebcccc;
}

@media screen and (max-width: 767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        overflow-x: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #dddddd;
        -webkit-overflow-scrolling: touch;
    }

    .table-responsive > .table {
        margin-bottom: 0;
    }

    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
        white-space: nowrap;
    }

    .table-responsive > .table-bordered {
        border: 0;
    }

    .table-responsive > .table-bordered > thead > tr > th:first-child,
    .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .table-responsive > .table-bordered > thead > tr > td:first-child,
    .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .table-responsive > .table-bordered > tfoot > tr > td:first-child {
        border-left: 0;
    }

    .table-responsive > .table-bordered > thead > tr > th:last-child,
    .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive > .table-bordered > thead > tr > td:last-child,
    .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .table-responsive > .table-bordered > tfoot > tr > td:last-child {
        border-right: 0;
    }

    .table-responsive > .table-bordered > tbody > tr:last-child > th,
    .table-responsive > .table-bordered > tfoot > tr:last-child > th,
    .table-responsive > .table-bordered > tbody > tr:last-child > td,
    .table-responsive > .table-bordered > tfoot > tr:last-child > td {
        border-bottom: 0;
    }
}