.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

* {
    text-decoration: none;
    font-weight: normal;
    font-family: Verdana, Arial, sans-serif;
    color: #73797B;
}

.clearer {
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
}

body {
    width: 960px;
    margin: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #eee;
    font-size: 12px;
}

a, p, li, caption {
    color: #73797B;
    text-align: left;
}

h2 {
    color: #73797B;
    text-align: left;
}

h4 {
    color: #73797B;
    text-align: left;
}

h5 {
    color: #73797B;
    text-align: left;
}

h6 {
    color: #73797B;
    text-align: left;
}

b {
    font-weight: bold;
}

a:hover {
    color: #94BE08;
}

#up {
    width: 980px;
}

#up .uplang {
    float: right;
    margin-right: 20px;
    margin-top: 14px;
}

#up .uplang a {
    margin-left: 10px
}

#up .upsearch {
    float: right;
    height: 38px;
}

#page {
    background-color: #fff;
    border: 1px solid #ddd;
}

#header {
    height: 230px;
    /*background:url(../pix/logo_1.jpg) left top no-repeat;*/
    background: url(../pix/header_dbfz_neu.jpg) left top no-repeat;
    overflow: hidden;
}

#home,
#home a {
    display: block;
    width: 100%;
    height: 80px;
}

#home a span {
    display: none;
}

#bilderleiste {
    border: 1px solid #EEE;
    height: 124px;
    margin-left: 166px;
    margin-top: 8px;
}

#bilderleiste img {
    float: left
}

#bilderleiste .csc-textpic-image {
    margin-right: 0 !important
}

#leftBox {
    float: left;
    margin-left: 15px;
    margin-top: 54px;
    width: 143px;
}

#leftBox h3 {
    font-weight: bold;
    padding-bottom: 12px;
    color: #94BE08;
    font-size: 1.2em;
}

#leftBox h3:first-letter {
    text-transform: uppercase;
}

#rightBox {
    width: 177px;
    float: right;
    margin-top: 54px;
    padding-bottom: 42px;
    margin-bottom: 42px;
    font-size: 11px;
}

#rightBox h2 {
    background: #73797B;
    color: #FFFFFF;
    text-align: left;
    padding: 2px 6px;
    font-weight: bold;
    font-size: 12px;
}

#rightBox p {
    /*margin-bottom:24px;*/
    /*background:#EFF3CE;*/
    padding: 6px 6px;
}

#rightBox a {
    font-weight: bold;
}

#rightBox ul {
    list-style: none;
}

#rightBox ul,
#rightBox form,
#rightBox .news-latest-item {
    padding: 5px
}

#rightBox .csc-default {
    margin-bottom: 15px;
}

.shadowbox {
    border: 1px solid #EEE;
}

#rightBox .shadowbox {
    -moz-box-shadow: #EEE 3px 3px 8px;
    -webkit-box-shadow: #EEE 3px 3px 8px;
    box-shadow: #EEE 3px 3px 8px;
    border: 1px solid #EEE;
    margin-bottom: 15px;
}

#texte .shadowbox {
    -moz-box-shadow: #EEE 3px 3px 8px;
    -webkit-box-shadow: #EEE 3px 3px 8px;
    box-shadow: #EEE 3px 3px 8px;
    border: 1px solid #EEE;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #f9f9f9
}

#rightBox .grayshadowbox {
    -moz-box-shadow: #EEE 3px 3px 8px;
    -webkit-box-shadow: #EEE 3px 3px 8px;
    box-shadow: #EEE 3px 3px 8px;
    border: 1px solid #EEE;
    margin-bottom: 15px;
    background-color: #f9f9f9
}

#texte .grayshadowbox, .contentBack {
    -moz-box-shadow: #EEE 3px 3px 8px;
    -webkit-box-shadow: #EEE 3px 3px 8px;
    box-shadow: #EEE 3px 3px 8px;
    border: 1px solid #EEE;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #f9f9f9;
    float: left;
}

.backgroundEditorTab {
    -moz-box-shadow: #EEE 3px 3px 8px;
    -webkit-box-shadow: #EEE 3px 3px 8px;
    box-shadow: #EEE 3px 3px 8px;
    border: 1px solid #EEE;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    float: left;
}

.addButton {
    -moz-box-shadow: #EEE 3px 3px 8px;
    -webkit-box-shadow: #EEE 3px 3px 8px;
    box-shadow: #EEE 3px 3px 8px;
    border: 1px solid #EEE;
    background-color: #f9f9f9;
}

#rightBox .news-latest-item a {
    font-weight: normal;
    font-size: 11px;
}

#content {
    float: left;
    width: 585px;
    padding-left: 15px;
    padding-right: 12px;
    padding-top: 53px;
    padding-bottom: 34px;
}

#content ul li {
    list-style-type: square;
    margin-left: 15px;
    margin-top: 9px;
    line-height: 18px;
}

#content ul li.csc-textpic-image {
    margin-left: 0px
}

#content ol li {
    margin-left: 20px;
    margin-top: 4px;
}

#content p, #content ul, #content ol {
    margin-bottom: 20px;
}

#content p {
    line-height: 18px;
}

#content h1 {
    font-weight: bold;
    font-size: 20px;
    color: #94BE08;
    margin-bottom: 13px;
}

#content h2 {
    font-size: 17px;
    font-weight: bold;
    color: #94BE08;
    text-align: left;
    margin-bottom: 11px;
}

#content h3 {
    font-size: 15px;
    font-weight: bold;
    color: #94BE08;
    text-align: left;
    margin-bottom: 10px;
}

#content h4 {
    color: #94BE08;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    margin-bottom: 6px;
}

#content h4 a {
    font-weight: bold;
}

#content h5 {
    font-size: 13px;
    color: #73797B;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}

#content h6 {
    color: #73797B;
    text-align: left;
    margin-bottom: 1em;
}

#bilder {
    width: 188px;
    float: left;
}

#bilder img {
    padding-top: 5px;
    width: 170px;
    margin-bottom: 7px;
}

#bilder a, #bilder span {
    display: none;
}

#texte div.news-list-item {
    padding-bottom: 28px;
    padding-top: 4px;
}

#texte div.news-list-item h3 a {
    color: #73797B;
}

#content div.news-list-item p {
    margin-bottom: 0;
}

#texte div.news-list-item h3 a,
#texte div.news-list-item div.news-list-morelink a {
    font-weight: bold;
    font-size: 12px;
}

#texte div.news-list-item h3 span {
    display: none;
}

#texte div.news-single-item div.news-single-timedata {
    display: none;
}

#texte div.news-single-item h2 {
    color: #94BE08;
    font-size: 19px;
    margin-bottom: 20px;
}

#texte div.news-single-backlink {
    margin-top: 24px;
    color: #94BE08;
    text-align: right;
}

#texte p a {
    font-weight: bold;
}

#texte li a.download,
#texte p a.download {
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#texte a.download[href$=pdf] {
    background: url(../pix/pdf.png) right top no-repeat;
}

#texte a.download[href$=doc] {
    background: url(../pix/doc.png) right top no-repeat;
}

#texte a.download[href$=zip],
#texte a.download[href$=rar] {
    background: url(../pix/rar.png) right top no-repeat;
}

/*++++++++++++++++++++++++++++++++++++++++++++
* besonder styles auf seiten pageUID
*/

div.news-list-category {
    visibility: hidden;
    display: none;
}

#presse_formular input {
    border: 0.01em solid silver;
}

#presse_formular textarea {
    border: 0.01em solid silver;
}

ul#mainnav {
    list-style-type: none;
    margin-left: 166px;
    position: absolute;
    top: 275px;
}

ul#mainnav li {
    display: inline;
}

ul#secondnav {
    list-style-type: none;
}

ul#secondnav li {
    display: block;
    margin: 8px 0px;
}

ul#secondnav ul li {
    padding-left: 8px;
}

ul#secondnav li.act a,
ul#secondnav ul li.act a {
    color: #94BE08
}

.news-latest-item {
    margin-top: 10px;
    margin-right: 5px;
}

.news-latest-gotoarchive {
    margin-top: 10px;
    font-weight: normal
}

/* Social */

.addthis_button_compact span {
    font-size: 10px
}

/* Calendar */

/**
 * styling for tip content
 * mostly for example
 * note: canvas (the tip itself) cannot be styled here. use javascript options for that.
 */
.bt-content {
    font-size: small;
    color: #000;
    line-height: normal;
}

/* styling for active target elements - usually for background hilighting */
.bt-active {
    /* example:
    background-color: yellow !important;
    */
}

/**
 * Content related
 */

.newscalendarTooltip {
    display: none;
}

.newscalendarTooltipHeader {
    font-weight: bold;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}

.newscalendarTooltipItemContainer {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

.newscalendar-tip {
    /* for IE */
    filter: alpha(opacity=90);
    /* CSS3 standard */
    opacity: 0.9;
}

.newscalendar-tip-selector {
    background-color: #eee;

}

/*
 * Render item related
 */

.newsCalendar_calendarItem {
    display: table;
    font-size: 1em;
    padding-top: 5px;
}

.newsCalendar_calendarItem a {
    font-weight: bold;
}

.newsCalendar_calendarItem_image {
    display: table;
    float: left;
    padding: 3px;
    border: 1px solid #CCC;
    margin-top: 3px;
    margin-right: 3px;
}

.newsCalendar_calendarItem_subheader {
}

.newsCalendar_calendarItemHeader {
}

.calendar-table {
    padding: 0;
}

.calendar-table a {
    text-decoration: underline;
}

.calendar-table TD, .calendar-table TH {
    padding: 4px 1px;
    text-align: center;
}

.calendar-table TH {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 20px;
}

.calendar-table caption {
    font-size: 200%;
    text-transform: uppercase;
}

.linked_today {
    cursor: default;
    padding: 2px;
    color: #fff;
    background-color: #94BE08;
    cursor: pointer;
}

.linked_today_nolink {
    background-color: #94BE08;
    color: #fff;
    padding: 2px;
}

.linked_day {
    padding: 2px;
    cursor: default;
    border: 1px solid transparent;
    background-color: #EEE;
}

/* List view CSS */
.newsCalendar_listHeader {
    font-size: 1.5em;
    font-weight: bold;
    background-color: #C7D5FE;
    color: #333333;
    border: 1px solid #7e7e7e;
    padding: 0.5em;
}

.newsCalendar_listBody {
    padding: 1em;
}

.newsCalendar_listItem {
    display: table;
    font-size: 1em;
    padding-top: 1em;
}

.newsCalendar_listItem a {
    font-weight: bold;
}

.newsCalendar_listItem_image {
    display: table;
    float: left;
    padding: 3px;
    border: 1px solid #CCC;
    margin-top: 3px;
    margin-right: 3px;
}

.newsCalendar_listItem_subheader {
    display: table;
    float: left;
}

.newsCalendar_listItemHeader {
    font-weight: bold;
    padding-top: 1em;
    font-size: 1.25em;
}

.tx-macinasearchbox-pi1 {
    margin: 10px 0px
}

.tx-macinasearchbox-pi1 input {
    border: 1px solid #73797B
}

.tx-indexedsearch-form,
.tx-indexedsearch-search-submit {
    display: inline
}

.tx-indexedsearch-form input {
    border: 1px solid #73797B;
    margin-bottom: 10px
}

.tx-indexedsearch-search-submit input {
    border: 1px solid #73797B;
    background: #94BE08;
    color: #fff
}

.tx-indexedsearch select {
    border: 1px solid #73797B;
}

.tx-indexedsearch-res h3 {
    margin-bottom: 4px !important
}

.tx-indexedsearch-res h3 a {
    font-weight: bold
}

.tx-indexedsearch-res .path {
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
}

.tx-indexedsearch-search-for,
.tx-indexedsearch-search-in,
.tx-indexedsearch-search-select-section,
.tx-indexedsearch-search-select-order,
.tx-indexedsearch-search-select-results,
.tx-indexedsearch-search-select-group,
.tx-indexedsearch-search-submit {
    margin-bottom: 8px
}

.csc-loginform {
    margin: 10px 0;
}

.csc-loginform input {
    border: 1px solid #73797B;
}

#mailformsubmit {
    border: 1px solid #73797B;
    background: #94BE08;
    color: #fff;
    margin-top: 5px;
    padding: 1px 9px;
}

#texte .csc-mailform-field input {
    display: block;
    margin-bottom: 8px;
}

.news-list-item img {
    float: left;
    margin-right: 10px
}

.news-amenu-container ul {
    list-style-type: none
}

.news-amenu-container ul li {
    margin-left: 0 !important
}

.news-amenu-container ul li a {
    display: block;
    font-weight: normal !important;
    margin: 3px 0px;
}

.news-list-browse .showResultsWrap {
    margin-bottom: 10px
}

.news-single-item .single-img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

p.tx-sibibtex-pi1-sort-links {
    margin-top: 10px;
    margin-bottom: 7px
}

input {
    border: 1px solid #73797B
}

input[type="submit"] {
    background: #94BE08;
    border: 1px solid #73797B;
    color: white;
    margin-top: 10px;
    padding: 1px 9px;
}

input[type="cancel"] {
    background: #FFBE08;
    border: 1px solid #73797B;
    color: white;
    margin-top: 10px;
    padding: 1px 9px;
}

input.subscriradio {
    width: 22px;
    margin: 3px 0px;
}

h1.subheading {
    font-size: 16px;
    font-weight: bold;
    color: #94BE08;
    font-family: Verdana, Arial, sans-serif;
}

div.formlab {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 12px;

}

span.formlab {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
    color: #94BE08;
    font-size: 12px;
    font-weight: bold;
}

h1.formlab {
    /*float:left;*/
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #94BE08;
    font-family: Verdana, Arial, sans-serif;
}

h3.formlab {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #94BE08;
    font-size: 12px;
    font-style: italic;
}

ul#secondnav li a {
    font-weight: bold
}

.shadow .news-list-item:nth-child(-n+2) {
    -moz-box-shadow: #EEE 3px 3px 8px;
    -webkit-box-shadow: #EEE 3px 3px 8px;
    box-shadow: #EEE 3px 3px 8px;
    border: 1px solid #EEE;
    margin-bottom: 15px;
    padding: 10px
}

.news-latest-container .news-latest-date {
    font-weight: bold
}

.newsCalendar_listBody {
    padding: 5px;
}

.newsCalendar_listItem {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 10px;
}

.calendar-table {
    width: 175px;
    font-size: 11px;
}

.activeLinkWrap {
    font-weight: bold
}

table.calendar-table tr td {

}

.contenttable {
    width: 100%;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-spacing: 0;
    margin-bottom: 20px;
    font-size: 11px;
}

.contenttable thead,
.contenttable tfoot {
    font-weight: bold;
    background-color: #ccc;
    text-align: left
}

.contenttable td, .contenttable th {
    padding: 3px 6px;
    border-right: 1px solid #ccc;
}

.contenttable tbody tr.tr-odd {
    background-color: #fff
}

.contenttable tbody tr.tr-even {
    background-color: #eee
}

.contenttable.whitebg tbody tr.tr-odd,
.contenttable.whitebg tbody tr.tr-even {
    background-color: #fff
}

.contenttable.normal tbody tr.tr-odd,
.contenttable.normal tbody tr.tr-even {
    background-color: #fff
}

.contenttable.normal td, .contenttable.normal th {
    border-right: 0px;
    padding: 2px 0px 0px 0px;
    font-size: 12px
}

.contenttable.normal {
    border-left: 0px;
    border-bottom: 0px
}

.a2a_menu span, .a2a_img {
    background: url("../pix/social_icons.png") no-repeat scroll 0 0 transparent !important;
    border: 0 none;
}

.newsCalendar_listItem a:hover {
    color: #73797B
}

.newsCalendar_listItem a span:hover {
    color: #94BE08
}

a.internal-link-icon {
    background: url("../pix/link_int.gif") no-repeat scroll 0 4px transparent !important;
    padding-left: 14px
}

a.external-link-icon {
    background: url("../pix/link_ext.gif") no-repeat scroll 0 4px transparent !important;
    padding-left: 14px
}

a.mail-icon {
    background: url("../pix/link_mail.gif") no-repeat scroll 0 4px transparent !important;
    padding-left: 18px;
}

a.pdf-icon {
    background: url("../../fileicons/pdf.gif") no-repeat scroll 0 0px transparent !important;
    padding-left: 24px;
    padding-bottom: 4px;
}

a.zip-icon {
    background: url("../../fileicons/zip.gif") no-repeat scroll 0 0px transparent !important;
    padding-left: 24px;
    padding-bottom: 4px;
}

a.sonstige-icon {
    background: url("../../fileicons/default.gif") no-repeat scroll 0 0px transparent !important;
    padding-left: 24px;
    padding-bottom: 4px;
}

a.word-icon {
    background: url("../../fileicons/doc.gif") no-repeat scroll 0 0px transparent !important;
    padding-left: 24px;
    padding-bottom: 4px;
}

a.excel-icon {
    background: url("../../fileicons/xls.gif") no-repeat scroll 0 0px transparent !important;
    padding-left: 24px;
    padding-bottom: 4px;
}

a.powerpoint-icon {
    background: url("../../fileicons/ppt.gif") no-repeat scroll 0 0px transparent !important;
    padding-left: 24px;
    padding-bottom: 4px;
}

.subheader {
    margin: 10px 0;
    font-weight: bold;
    line-height: 18px;
}

.news-single-item .single-images {
    float: left;
    width: 265px;
}

.single-img {
}

#shadowbox_toolbar_inner div a {
    color: #fff
}

#shadowbox_toolbar_inner div span.shortcut {
    color: #fff;
    font-weight: normal
}

.tx-sibibtex-pi1 ul li {
    margin-top: 0px !important;
}

.news-list-morelink a {
    background: transparent url(../pix/link_int.gif) no-repeat scroll 0px 4px !important;
    margin-left: 6px;
    padding-left: 10px;
}

dl.csc-textpic-image {
    background-color: #EEE;
}

dd.csc-textpic-caption {
    padding: 4px
}

.newsCalendar_calendarItem a.newscaltitle {
    font-weight: normal
}

.newsCalendar_calendarItem a:hover.newscaltitle {
    color: #94BE08 !important;
}

.disabledLinkWrap {
    display: none
}

.newscalcat:after {
    content: 'Externe Veranstaltung:';
    font-weight: bold;
}

.newscalcatdbfz:after, .newscalcatDBFZ:after {
    content: 'DBFZ Veranstaltung:';
    font-weight: bold;
    color: #94BE08;
}

.newscalcatkoop:after, .newscalcatKOOP:after, .newscalcatKoop:after {
    content: 'Kooperationsveranstaltung:';
    font-weight: bold;
    color: #799129;
}

#rightBox .tx-powermail-pi1 fieldset.tx-powermail-pi1_fieldset legend {
    display: none
}

#rightBox .tx-powermail-pi1 fieldset.tx-powermail-pi1_fieldset {
    border: none;
    background-color: #fff;
    padding: 0px;
}

#rightBox .tx-powermail-pi1 fieldset.tx-powermail-pi1_fieldset input.powermail_text, fieldset.tx-powermail-pi1_fieldset input.powermail_date, fieldset.tx-powermail-pi1_fieldset input.powermail_datetime, fieldset.tx-powermail-pi1_fieldset textarea.powermail_textarea, fieldset.tx-powermail-pi1_fieldset input.powermail_captcha {
    width: 157px;
}

#rightBox .tx-powermail-pi1 fieldset.tx-powermail-pi1_fieldset input.powermail_submit {
    margin: 10px 0 0px 0px;
}

#rightBox .tx-powermail-pi1 fieldset.tx-powermail-pi1_fieldset label, fieldset.tx-powermail-pi1_fieldset fieldset legend {
    width: 167px;
}

.table-nobreak > tbody > tr > td {
    white-space: nowrap;
}