<div>
    <div ng-transclude ng-style="editorStyle"></div>
    <!-- extend array bottom -->
    <div id="editor" ng-style="resizeEditorElementStyle">
        <div ng-click="increaseHeight()" class="extendMainDown"></div>
        <div ng-click="decreaseHeight()" class="extendMainUp"></div>
    </div>
</div>
