<div ng-repeat="edge in item.edges" ng-if="edge.type == 'mass'">
    <span class="formlab">{{ getSourceName(edge) }} &rarr; {{ getTargetName(edge) }}</span>
    <input type="range" int-range min="0" max="{{edge.flow + maximum - used+0.01}}" step="0.1" ng-model="edge.flow" class="formInput" style="width: 150px"/>&nbsp;{{edge.flow | number: 1}}&nbsp;[t]
</div>
<span class="formlab">Summe: {{used | number: 1}} von {{maximum | number: 1}} [t]</span>
