nav {
    margin-bottom: 30px;

    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.navbar-nav {
    width: 100%
}

.navbar-nav a {
    text-align: center;
    cursor: pointer;
}

.navbar-nav a:hover {
    color: #94BE08!important;
}

.navbar-nav li:hover {
    background-color: whitesmoke;
}

.navbar-nav {
    margin: 0 auto!important;
}

h1 {
    font-size: 2.1em;
    font-weight: bold;
    color: #94BE08;
    margin-bottom: 50px;
    margin-top: 30px;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    color: #94BE08;
    font-family: Verdana, Arial, sans-serif;
}

h3 {
    color: #73797B;
    font-size: 1.5em;
}

#footer {
    padding-right: 5px;
    text-align: center;
    margin-top: 15px;
    font-size: 1em;
}

#footer p.bodytext {
    text-align: center;
    margin-bottom: 8px
}