<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <!-- build:css css/concat.min.css -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="index.css"/>
    <!-- endbuild -->

    <!-- build:js concat.min.js-->
    <script src="jquery/dist/jquery.js"></script>
    <script src="jqueryui/jquery-ui.js"></script>
    <script src="jquery.ui.touch-punch.dk/jquery.ui.touch-punch.dk.js"></script>

    <script src="jsPlumb/dist/js/jquery.jsPlumb-1.6.4.js"></script>

    <script src="angular/angular.js"></script>
    <script src="angular-sanitize/angular-sanitize.js"></script>
    <script src="ng-csv/build/ng-csv.js"></script>
    <script src="angular-ui-utils/ui-utils.js"></script>
    <script src="angular-ui-utils/ui-utils-ieshiv.js"></script>
    <script src="ng-file-upload/angular-file-upload.js"></script>
    <script src="angular-i18n/angular-locale_de-de.js"></script>

    <script src="d3/d3.js"></script>
    <script src="common/non-angular/appflow.js"></script>
    <script src="common/non-angular/gauss-jordan.js"></script>
    <script src="app.js"></script>
    <script src="index.controller.js"></script>
    <script src="routeviews/anlageneditor/anlageninformation.directive.js"></script>
    <script src="routeviews/anlageneditor/substrateeinsatz.directive.js"></script>
    <script src="routeviews/anlageneditor/effizienzbewertung.directive.js"></script>
    <script src="routeviews/anlageneditor/component-editor-area.directive.js"></script>
    <script src="routeviews/anlageneditor/anlageneditor.routeview.directive.js"></script>
    <script src="routeviews/dokumentation/dokumentation.routeview.directive.js"></script>
    <script src="routeviews/kontakt/kontakt.routeview.directive.js"></script>
    <script src="common/filters/abs.filter.js"></script>
    <script src="common/filters/unsafe-html.filter.js"></script>
    <script src="common/directives/int-range.directive.js"></script>
    <script src="common/directives/edge-flow/edge-flow.directive.js"></script>
    <script src="common/directives/resizable/resizable.directive.js"></script>
    <script src="common/directives/topology-element.directive.js"></script>
    <script src="common/directives/collapsable/collapsable.directive.js"></script>
    <script src="common/services/calculation-parameters.service.js"></script>
    <script src="routeviews/anlageneditor/services/cycledetector.service.js"></script>
    <script src="routeviews/anlageneditor/services/graph-utils.service.js"></script>
    <script src="common/services/number-formatter.service.js"></script>
    <script src="common/services/powerplant.service.js"></script>
    <!-- endbuild -->

    <!-- build:template-->
    <!-- endbuild -->

    <title>Deutsches Biomasseforschungszentrum (DBFZ)</title>
</head>

<body ng-app="dbfz">
<div id="page" class="container" ng-cloak ng-controller="IndexCtrl">

    <h1>RegEnFlx - Modellierer f&uuml;r Biogasanlagen</h1>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto row">
                <li class="nav-item col">
                    <a class="nav-link" ng-click="changeRouteView('')">Anlageneditor</a>
                </li>
                <li class="nav-item col">
                    <a class="nav-link" ng-click="changeRouteView('/dokumentation')">Dokumentation</a>
                </li>
                <li class="nav-item col">
                    <a class="nav-link" ng-click="changeRouteView('/kontakt')">Kontakt</a>
                </li>
            </ul>
        </div>
    </nav>

    <div>
        <anlagen-editor ng-show="currentTab === ''"></anlagen-editor>
        <dokumentation ng-show="currentTab === '/dokumentation'"></dokumentation>
        <kontakt ng-show="currentTab === '/kontakt'"></kontakt>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-12" id="footer">
            <p class="bodytext">© 2019 DBFZ
                <a style="float:right" href="https://infai.org" target="_blank">Technische Umsetzung: InfAI e.V.</a></p>
        </div>
    </div>
</div>
</body>
</html>