<div style="margin-bottom:10px">
    <div ng-class="(isContentVisible) ? 'toogleContentUp' : 'toogleContentDown'" ng-click="toggleContent()"
         title="Erweiterte Funktionen"
         style="cursor:pointer">
        <span style="float:right">
        <div></div>
        </span>
        <span class="formlab">{{title}}</span>
    </div>
    <div class="separation_line" ng-if="lines === 'true'"></div>
    <div ng-if="border === 'false'" ng-show="isContentVisible" ng-transclude
         style="margin-top: 2px; background-color: {{bgcolor}}"></div>
    <div ng-if="border === 'true'" ng-show="isContentVisible" ng-transclude
         style="margin-top: 2px; background-color: {{bgcolor}}; border-bottom: 1px solid #73797B; border-right: 1px solid #73797B"></div>
    <div class="separation_line" ng-if="lines === 'true'"></div>
</div>