<div class="row" style="margin-bottom: 20px;">
    <div class="col-md-2">
        <button class="addButton" ng-click="addElement('fermenter')">
            <div></div>&nbsp;Fermenter
        </button>
    </div>
    <div class="col-md-2">
        <button class="addButton" ng-click="addElement('substrat')">
            <div></div>&nbsp;Substrat
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <collapsable title="Stöchiometrie" lines="false" border="true" bgcolor="#f0f0f0">
            <span class="formlab" style="display: inline">Biomassewachstum:</span>
            <input type="number" ng-model="stochiometrie.wachstum" min="0" max="100" step="any" class="formInput" style="width: 70px"/> [% FoTS]
            <span class="formlab" style="display: inline;margin-left: 40px">Wassereinbau:</span>
            <input type="number" ng-model="stochiometrie.wasser" min="0" max="100" class="formInput" style="width: 70px"/>&nbsp;[% FoTS]
            <span class="formlab" style="display: inline;margin-left: 40px">Methangehalt:</span>
            <input type="number" ng-model="stochiometrie.methan" min="0" max="100" class="formInput" style="width: 70px"/>&nbsp;[% CH<sub>4</sub>]
            <div>{{ stochiometrie.methanpotential | number:2}} [L CH<sub>4</sub>kg<sup>-1</sup> FoTS]</div>
        </collapsable>
    </div>
</div>
<div class="row" style="margin-bottom: 30px;">
    <div class="col-md-8" style="overflow: hidden">
        <!-- drawing elements array -->
        <div resizable style="position: relative; margin-bottom: 15px;">
            <div topology-element ng-repeat="content in contents"
                 class="window {{content.content_type}} iconGroupHoverShadow" id="{{content.id}}">
                <!--delete and add element icon-->
                <div style="float:right" ng-if="content.content_type == 'substrat' || content.content_type == 'fermenter'">
                    <div ng-class="(content.remove) ? 'abortRemoveButton' : 'deleteButton'"
                         ng-click="switchRemove(content)" style="position:absolute;margin-left:12px"></div>
                </div>
                <div style="float:right" ng-if="content.content_type == 'substrat' || content.content_type == 'fermenter'">
                    <div ng-if="content.remove" ng-click="removeElement(content)" class="confirmRemoveButton"
                         style="position: absolute;margin-left:1px"></div>
                </div>
                <!--switch by icons-->
                <div class="{{content.content_type}}">
                    <div ng-include src='"./icons/"+content.content_type+".svg"'
                         class="{{content.content_type}}" ng-click="editItem(content)"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <!-- add form for currently selected element -->
        <form ng-if="editingItem.content_type != null">
            <component-editor-area editing-item="editingItem" contents="contents"></component-editor-area>
        </form>
    </div>
</div>
<hr>
<div class="row" style="padding-bottom: 20px; margin-top: 30px;">
    <div class="col-md-12">
        <collapsable title="Substrateinsatz" lines="false" border="false" bgcolor="transparent">
            <substrateeinsatz></substrateeinsatz>
        </collapsable>
    </div>
</div>
<div class="row" style="padding-bottom: 20px; margin-top: 30px;">
    <div class="col-md-12">
        <collapsable title="Effizienzbewertung" lines="false" border="false" bgcolor="transparent">
            <effizienzbewertung></effizienzbewertung>
        </collapsable>
    </div>
</div>
<div class="row" style="padding-bottom: 20px; margin-top: 30px;">
    <div class="col-md-6">
        <h2>Brennstoffausnutzungsgrad</h2>
        <h6>Kapazitätszahl</h6>
        K =
        <span ng-if="bhkw.calculated.k">{{bhkw.calculated.k |number: 2}} [-]</span>
        <span ng-if="bhkw.calculated.k == null">Es werden zusätzliche Eingaben benötigt</span>
        <h6>Arbeitsausnutzung</h6>
        n<sub>A</sub> =
        <span ng-if="bhkw.calculated.na">{{bhkw.calculated.na |number: 2}} [-]</span>
        <span ng-if="bhkw.calculated.na == null">Es werden zusätzliche Eingaben benötigt</span>
        <h6>Mittlerer Brennstoffausnutzungsgrad</h6>
        ω = <span ng-if="bhkw.calculated.omega">{{bhkw.calculated.omega |number: 2}} [-]</span>
        <span ng-if="bhkw.calculated.omega == null">Es werden zusätzliche Eingaben benötigt</span>
    </div>
    <div class="col-md-6">
        <h2>Anlagenbilanzierung</h2>
        <table class="table table-responsive table-condensed">
            <thead><tr><th>Fermenter</th><th>Gasproduktion</th></tr></thead>
            <tr ng-repeat="ferm in $parent.fermenter">
                <td><span class="formlab">{{ ferm.name }}</span></td>
                <td>{{$parent.$parent.gasProFermenter[$index] | number: 2}} [m<sup>3</sup>/d]</td>
            </tr>
        </table>
    </div>
</div>

<div class="row" style="padding-bottom: 20px; margin-top: 30px;">
    <h2 class="col-md-12">Laden/Speichern von Konfigurationen</h2>
    <div class="col-md-6">
        <span class="formlab">Speichern</span>
        <a download="BiogasanlageKonfig.json" ng-click="defineJsonSaveFile(contents, operator)"
           ng-href="data:application/json;charset=utf-8,{{json}}"
           href="data:application/json;charset=utf-8,{{json}}">Konfiguration der aktuellen
            Biogasanlage<br/>(BiogasanlageKonfig.json)</a>
    </div>
    <div class="col-md-6">
        <span class="formlab">Laden</span>
        <input id="fileUpload" type="file" ng-file-select="handleFileSelect($files)"/>
        <span class="formlab">Aktuelle Konfiguration</span>
        <span>Dateiname: {{fileName}}</span><br>
        <span>Zuletzt ge&auml;ndert: {{fileLastModified}}</span>
    </div>
</div>
</div>