<table class="table table-responsive table-condensed">
    <tr>
        <td><span class="formlab">Substratzufuhr FM:</span></td>
        <td>{{stats.sumFM | number:2}} [t FM]</td>
    </tr>
    <tr>
        <td><span class="formlab">Substratzufuhr TS:</span></td>
        </td>
        <td>{{stats.sumTS | number:2}} [t FM]</td>
    </tr>
    <tr>
        <td><span class="formlab">Substratzufuhr oTS:</span></td>
        </td>
        <td>{{stats.sumOTS | number:2}} [t FM]</td>
    </tr>
    <tr>
        <td><span class="formlab">Substratzufuhr FoTS:</span></td>
        </td>
        <td>{{stats.sumFoTS | number:2}} [t FM]</td>
    </tr>
    <tr>
        <td><span class="formlab">Arbeitsvolumen:</span></td>
        </td>
        <td>{{stats.sumVolume | number:2}} [m<sup>3</sup>]</td>
    </tr>
</table>