<div ng-if="editingItem" ng-switch="editingItem.content_type">
    <div ng-switch-when="bhkw">
        <h2 class="formlab">{{editingItem.name}}</h2>
        <span class="formlab">Berechnungsart:</span>
        <label><input type="radio" ng-model="editingItem.parameters.calcType" value="bhkw">BHKW</label>
        <label><input type="radio" ng-model="editingItem.parameters.calcType" value="volume">Volumenstrommessung</label>
        <div ng-if="editingItem.parameters.calcType == 'bhkw'">
            <select ng-model="editingItem.parameters.calcTypeDetail">
                <option value="surplus">Überschusseinspeisung</option>
                <option value="full">Volleinspeisung</option>
            </select>
            <span class="formlab">Nennzeitraum:</span>
            <input type="number" ng-model="editingItem.parameters.tn" min="0" step="any" class="formInput" required/>&nbsp;[d]
            <span class="formlab">Betriebsstunden:</span>
            <input type="number" ng-model="editingItem.parameters.bs" min="0" step="any" class="formInput" required/>&nbsp;[h]
            <span class="formlab">Elektrische Nennleistung:</span>
            <input type="number" ng-model="editingItem.parameters.pn" min="0" step="any" class="formInput" required/>&nbsp;[kW]
            <span class="formlab">Elektrischer Wirkungsgrad:</span>
            <input type="number" ng-model="editingItem.parameters.etael" min="0" max="100" step="any" class="formInput" required/>&nbsp;[%]
            <span class="formlab">Thermische Nennleistung:</span>
            <input type="number" ng-model="editingItem.parameters.qn" min="0" step="any" class="formInput" required/>&nbsp;[kW]
            <span class="formlab">Eingespeister Strom:</span>
            <input type="number" ng-model="editingItem.parameters.welnutz" min="0" step="any" class="formInput" required/>&nbsp;[kWh]
            <span class="formlab">Genutzte Wärme:</span>
            <input type="number" ng-model="editingItem.parameters.qnutz" min="0" step="any" class="formInput" required/>&nbsp;[kWh]
            <collapsable title="Erweiterte Funktionen" lines="false" border="false" bgcolor="#f0f0f0">
                <span class="formlab">Trafoverluste:</span>
                <input type="number" ng-model="editingItem.parameters.tv" min="0" max="100" step="any" class="formInput" required/> [%]
                <span class="formlab">Eigenstromverbrauch:</span>
                <input type="number" ng-model="editingItem.parameters.weleigen" min="0" step="any" class="formInput" required/>&nbsp;[kWh]
                <span class="formlab">Zündölverbrauch:</span>
                <input type="number" ng-model="editingItem.parameters.vzo" min="0" step="any" class="formInput" required/>&nbsp;[L]
            </collapsable>

            <span class="formlab">Erzeugte elektrische Arbeit:</span>
            {{editingItem.calculated.welbrutto | number:2}}&nbsp;[kW]
            <span class="formlab">Feuerungswärmeleistung:</span>
            {{editingItem.calculated.pfwl | number:2}}&nbsp;[kW]
            <span class="formlab">Methanertrag:</span>
            {{editingItem.calculated.vch4 | number:2}}&nbsp;[m<sup>3</sup>CH<sub>4</sub>d<sup>-1</sup>]
            <span class="formlab">Substratleistung:</span>
            {{editingItem.calculated.ps | number:2}}&nbsp;[kW]
            <span class="formlab">Nettostrom:</span>
            {{editingItem.calculated.welnetto | number:2}}&nbsp;[kWh]
        </div>
        <div ng-if="editingItem.parameters.calcType == 'volume'">
            <h2 class="formlab">Volumenstrommessung</h2>
            <span class="formlab">Methanertrag:</span>
            <input type="number" ng-model="editingItem.parameters.methanertrag" min="0" step="any" class="formInput" required/> [m<sup>3</sup> CH<sub>4</sub> d<sup>-1</sup>]
            <span class="formlab">Gasdruck:</span>
            <input type="number" ng-model="editingItem.parameters.gasdruck" min="0" max="100" step="any" class="formInput" required/> [bar]
            <span class="formlab">Gastemperatur:</span>
            <input type="number" ng-model="editingItem.parameters.gastemperatur" min="0" max="100" step="any" class="formInput" required/> [bar]
            <span class="formlab">Trockenes Biogas:</span>
            <input type="checkbox" ng-model="editingItem.parameters.trocken"/>

            <span class="formlab">Methanertrag:</span>
            {{editingItem.calculated.methanertrag | number: 0}}&nbsp;[m<sup>3</sup> CH<sub>4</sub> d<sup>-1</sup>]
        </div>
    </div>

    <div ng-switch-when="rest">
        <h2 class="formlab">G&auml;rrestlager</h2>
        <span class="formlab">TS-Gehalt:</span>
        <input type="number" ng-model="editingItem.parameters.ts" min="0" max="100" step="any" class="formInput" required/>&nbsp;[% FM]
        <span class="formlab">oTS-Gehalt:</span>
        <input type="number" ng-model="editingItem.parameters.ots" min="0" max="100" step="any" class="formInput" required/> [% TS]
        <span class="formlab">Restgaspotential:</span>
        <input type="number" ng-model="editingItem.parameters.yg" min="0" max="100" step="any" class="formInput" required/>&nbsp;[L CH<sub>4</sub> kg<sup>-1</sup> FM]
    </div>

    <div ng-switch-when="fermenter">
        <h2 class="formlab">Fermenter</h2>
        <span class="formlab">Bezeichnung:</span>
        <input type="text" ng-model="editingItem.name" class="formInput" maxlength="15"/>
        <span class="formlab">Arbeitsvolumen:</span>
        <input type="number" step="any" ng-model="editingItem.massvolume" min="0" class="formInput" required/>&nbsp;[m<sup>3</sup>]

        <h3 class="formlab">Ausgehende Stoff-/Gasströme</h3>
        <edge-flow item="editingItem" contents="contents"></edge-flow>
    </div>

    <div ng-switch-when="substrat">
        <h2 class="formlab">Substrat</h2>
        <span class="formlab">Substrattyp:</span>
        <select ng-model="editingItem.parameters" ng-options="substrat.name for substrat in substrate" title="Wählen Sie ein Substrat!" style="margin-bottom: 10px;"></select>
        <span class="formlab">Substratmenge:</span>
        <input type="number" ng-model="editingItem.fm" min="0" step="any" class="formInput" required/>&nbsp;[t&nbsp;FM d<sup>-1</sup>]
        <span class="formlab">TS-Gehalt:</span>
        <input type="number" ng-model="editingItem.parameters.ts" step="any" min="1" max="100" class="formInput" required/>&nbsp;[% FM]
        <span class="formlab">oTS-Gehalt:</span>
        <input type="number" ng-model="editingItem.parameters.ots" step="any" min="1" max="100" class="formInput" required/>&nbsp;[% TS]
        <collapsable title="Erweiterte Funktionen" lines="false" border="false" bgcolor="#f0f0f0">
            <span class="formlab">Dichte:</span>
            <input id="rho" type="number" ng-model="editingItem.parameters.rho" min="0" step="any" class="formInput" required/>&nbsp;[kg m<sup>-3</sup>]
            <span class="formlab">Reaktionskonstante schnell abbaubarer Substratbestandteile:</span>
            <input id="k1" type="number" ng-model="editingItem.parameters.k1" min="0" max="10" step="any" class="formInput" required/>&nbsp;[d<sup>-1</sup>]
            <span class="formlab">Reaktionskonstante langsam abbaubarer Substratbestandteile:</span>
            <input id="k2" type="number" ng-model="editingItem.parameters.k2" min="0" max="10" step="any" class="formInput" required/>&nbsp;[d<sup>-1</sup>]
            <span class="formlab">Anteil schnell abbaubarer Substratbestandteile:</span>
            <input id="alpha" type="number" ng-model="editingItem.parameters.alpha" min="0" max="100" step="any" class="formInput" required/>&nbsp;[%]
        </collapsable>
        <h3 class="formlab">Substratcharakterisierung</h3>
        <select ng-model="editingItem.verfahren" ng-options="v.name for v in substratVerfahren" title="Wählen Sie ein Berechnungsverfahren!" style="margin-bottom: 10px;"></select>
        <div ng-switch="editingItem.verfahren.key">
            <div ng-switch-when="rw">
                <span class="formlab">Methanpotential:</span>
                <input type="number" ng-model="editingItem.parameters.richtwert.vch4" min="0" step="any" class="formInput" required/> [L CH<sub>4</sub> kg<sup>-1</sup> oTS]
            </div>
            <div ng-switch-when="fots">
                <span class="formlab">FoTS-Gehalt:</span>
                <input type="number" ng-model="editingItem.parameters.fots.fots" min="0" max="100" step="any" class="formInput" required/> [% oTS]
                <collapsable title="Erweiterte Funktionen" lines="false" border="false" bgcolor="#f0f0f0">
                    <span class="formlab">Rohfasergehalt:</span>
                    <input type="number" ng-model="editingItem.parameters.fots.xf" min="0" max="1000" step="any" class="formInput"/> [g kg<sup>-1</sup> TS]
                </collapsable>
            </div>
            <div ng-switch-when="fma">
                <span class="formlab">Rohfasergehalt:</span>
                <input type="number" ng-model="editingItem.parameters.futtermittel.xf" min="0" max="1000" step="any" class="formInput" required/> [g kg<sup>-1</sup> TS]
                <span class="formlab">Rohproteingehalt:</span>
                <input type="number" ng-model="editingItem.parameters.futtermittel.xp" min="0" max="1000" step="any" class="formInput" required/> [g kg<sup>-1</sup> TS]
                <span class="formlab">Rohfettgehalt:</span>
                <input type="number" ng-model="editingItem.parameters.futtermittel.xl" min="0" max="1000" step="any" class="formInput" required/> [g kg<sup>-1</sup> TS]
                <collapsable title="Erweiterte Funktionen" lines="false" border="false" bgcolor="#f0f0f0">
                    <span class="formlab">Fermentierbarkeit Rohfaser:</span>
                    <input type="number" ng-model="editingItem.parameters.futtermittel.fqxf" min="0" max="100" step="any" class="formInput" required/> [%]
                    <span class="formlab">Fermentierbarkeit NfE:</span>
                    <input type="number" ng-model="editingItem.parameters.futtermittel.fqnfe" min="0" max="100" step="any" class="formInput" required/> [%]
                    <span class="formlab">Fermentierbarkeit Rohprotein:</span>
                    <input type="number" ng-model="editingItem.parameters.futtermittel.fqxp" min="0" max="100" step="any" class="formInput" required/> [%]
                    <span class="formlab">Fermentierbarkeit Rohfett:</span>
                    <input type="number" ng-model="editingItem.parameters.futtermittel.fqxl" min="0" max="100" step="any" class="formInput" required/> [%]
                </collapsable>
            </div>
            <div ng-switch-when="ea">
                <span class="formlab">Anzahl an C-Atomen:</span>
                <input type="number" ng-model="editingItem.parameters.elementar.c" min="0" step="any" class="formInput" required/>
                <span class="formlab">Anzahl an H-Atomen:</span>
                <input type="number" ng-model="editingItem.parameters.elementar.h" min="0" step="any" class="formInput" required/>
                <span class="formlab">Anzahl an O-Atomen:</span>
                <input type="number" ng-model="editingItem.parameters.elementar.o" min="0" step="any" class="formInput" required/>
                <span class="formlab">Anzahl an N-Atomen:</span>
                <input type="number" ng-model="editingItem.parameters.elementar.n" min="0" step="any" class="formInput" required/>
                <span class="formlab">Anzahl an S-Atomen:</span>
                <input type="number" ng-model="editingItem.parameters.elementar.s" min="0" step="any" class="formInput" required/>
                <collapsable title="Erweiterte Funktionen" lines="false" border="false" bgcolor="#f0f0f0">
                    <span class="formlab">Fermentierbarkeit:</span>
                    <input type="number" ng-model="editingItem.parameters.elementar.fq" min="0" max="100" step="any" class="formInput" required/> [% oTS]
                </collapsable>
            </div>
            <div ng-switch-when="bw">
                <span class="formlab">Brennwert:</span>
                <input type="number" ng-model="editingItem.parameters.brennwert.hs" min="0" step="any" class="formInput" required/> [kJ kg<sup>-1</sup> oTS]
                <collapsable title="Erweiterte Funktionen" lines="false" border="false" bgcolor="#f0f0f0">
                    <span class="formlab">Fermentierbarkeit:</span>
                    <input type="number" ng-model="editingItem.parameters.brennwert.fq" min="0" step="any" class="formInput" required/> [kJ kg<sup>-1</sup> oTS]
                    <span class="formlab">Brennwert nFoTS:</span>
                    <input type="number" ng-model="editingItem.parameters.brennwert.hsnfots" min="0" step="any" class="formInput" required/> [kJ kg<sup>-1</sup> nFoTS]
                </collapsable>
            </div>
            <div ng-switch-when="csb">
                <span class="formlab">Chemischer Sauerstoffbedarf:</span>
                <input type="number" ng-model="editingItem.parameters.csb.csb" min="0" step="any" class="formInput" required/> [mg O<sub>2</sub> L<sup>-1</sup>]
                <collapsable title="Erweiterte Funktionen" lines="false" border="false" bgcolor="#f0f0f0">
                    <span class="formlab">Fermentierbarkeit:</span>
                    <input type="number" ng-model="editingItem.parameters.csb.fq" min="0" max="100" step="any" class="formInput" required/> [% CSB]
                </collapsable>
            </div>
            <div ng-switch-when="toc">
                <span class="formlab">Organischer Kohlenstoff:</span>
                <input type="number" ng-model="editingItem.parameters.toc.toc" min="0" max="1000" step="any" class="formInput" required/> [g kg<sup>-1</sup> TS]
                <collapsable title="Erweiterte Funktionen" lines="false" border="false" bgcolor="#f0f0f0">
                    <span class="formlab">Fermentierbarkeit:</span>
                    <input type="number" ng-model="editingItem.parameters.toc.fq" min="0" max="100" step="any" class="formInput" required/> [% TOC]
                    <span class="formlab">Methangehalt:</span>
                    <input type="number" ng-model="editingItem.parameters.toc.cch4" min="0" max="100" step="any" class="formInput" required/> [% CH<sub>4</sub>]
                </collapsable>
            </div>
        </div>
        <h3 class="formlab">Ausgehende Stoff-/Gasströme</h3>
        <edge-flow item="editingItem" contents="contents"></edge-flow>
    </div>
</div>