<table class="table">
    <thead>
    <tr class="bold-th">
        <th></th>
        <th>Umsatz FoTS</th><th>Methanvolumenstrom</th>
        <th>Restgaspotential</th>
        <th>TS Gärrest</th>
        <th>oTS Gärrest</th>
    </tr>
    <tr>
        <td><small>berechnet auf Basis von</small></td>
        <th>[% FoTS]</th>
        <th>[L CH<sub>4</sub> d<sup>-1</sup>]</th>
        <th>[L CH<sub>4</sub> kg<sup>-1</sup> FM]</th>
        <th>[% FM]</th><th>[% TS]</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in efficiency">
        <th>{{row.name}}</th>
        <td ng-if="row.calculated.umsatz<100">{{row.calculated.umsatz | number: 1}}</td>
        <td ng-if="row.calculated.umsatz>100">> 100%</td>
        <td>{{row.calculated.methanertrag | number: 1}}</td>
        <td>{{row.calculated.restgaspotential | number: 1}}</td>
        <td>{{row.calculated.ts | number: 1}}</td>
        <td>{{row.calculated.ots | number: 1}}</td>
    </tr>
    </tbody>
</table>