<table class="table">
    <thead>
    <tr class="bold-th">
        <th></th><th>FM</th><th>TS</th><th>oTS</th><th>FoTS</th><th>Methanpotential</th><th>Brennwert</th>
    </tr>
    <th></th><th>[t FM d<sup>-1</sup>]</th><th>[% FM]</th><th>[% TS]</th><th>[% oTS]</th><th>[L CH<sub>4</sub> kg<sup>-1</sup> oTS]</th><th>[kJ kg<sup>-1</sup> oTS]</th>
    </thead>
    <tbody>
    <tr ng-repeat="s in substrate">
        <td>{{s.parameters.name}}</td>
        <td>{{s.fm | number}}</td>
        <td>{{s.parameters.ts | number}}</td>
        <td>{{s.parameters.ots | number}}</td>
        <td title="{{s.calculated.fots}}">{{s.calculated.fots | number:1}}</td>
        <td title="{{s.calculated.methanpotential}}">{{s.calculated.methanpotential | number:0}}</td>
        <td title="{{s.calculated.brennwert}}">{{s.calculated.brennwert | number:0}}</td>
    </tr>
    </tbody>
    <tfoot>
        <tr class="bold-th">
            <th>Substratmischung</th>
            <th>{{sums.fm | number}}</th>
            <th>{{sums.ts | number: 1}}</th>
            <th>{{sums.ots | number: 1}}</th>
            <th>{{sums.fots  | number: 1}}</th>
            <th>{{sums.methanpotential  | number: 0}}</th>
            <th>{{sums.brennwert  | number: 0}}</th>
        </tr>
    </tfoot>
</table>